.flag-dropdown {
    background-color: white !important;
    border: none !important;
    border-right: 1px solid gainsboro !important;
}

.react-tel-input {
    height: 40.5px;
    padding: 0;
    width: auto !important;
}